# Exclude the custom folder attributes file
.DS_Store

# Do not version SublimeText's configuration and workspace
*.sublime-project
*.sublime-workspace

# Gedit isn't very nice
*~

# GDB generates a temporary folder
main.*/

# Do not version temporary LaTeX files
.texpadtmp/

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf

# Ignore compiled binaries
main
